# Configuración de Base de Datos PostgreSQL de Pruebas / Homelab
POSTGRES_DB=bodeg-ia
POSTGRES_USER=bdg
POSTGRES_PASSWORD=bodegia-db
DB_HOST=192.168.1.49
DB_PORT=5432

# URL de Conexión de Prisma / Backend
DATABASE_URL="postgresql://bdg:bodegia-db@192.168.1.49:5432/bodeg-ia?schema=public"

# Claves JWT de Producción
JWT_SECRET="bodegia_super_secret_jwt_key_2026_x89a"
JWT_EXPIRES_IN="1d"

# Puerto del Servidor Backend
PORT=4000
